
<!DOCTYPE html>
<html>
<title>Online Voting System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}

.w3-sidebar {width: 120px;background: #222;}
h1,h2{
color: linen;
}
#main {margin-left: 120px}

.name{
text-align: center;
}
.box{
    margin-left: 600px;
    margin-right: 100px;
    position: absolute;
    margin-top: 200px;
}

@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">

  <a href="/vote/profile" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>

  <a href="/vote/logout" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>Log Out</p>
  </a>
</nav>


<div class="box">
    <h1>You have successfully voted!</h1>
    <p>Thank You! For Your Participation</p>
</div>
